@model IEnumerable<ControleDeFinancas.Models.ContasPagar>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/contasPagar/css/bootstrap.css" asp-append-version="true" />

<h1>Contas a Pagar</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Criar</a>    

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContaPagarIdentificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevisaoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.ContaPagarIdentificacao)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.PrevisaoPagamento)
                    </td>
                    <td>
                    @(item.Valor.ToString("c"))
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>                    
                        <a asp-action="Edit" asp-route-id="@item.ContaPagarId" type="button" class="btn btn-secondary">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.ContaPagarId" type="button" class="btn btn-info">Detalhes</a>|
                        <a asp-action="Delete" asp-route-id="@item.ContaPagarId" type="button" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
